img 
{
    border: none !important;

    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    
    background-color: transparent !important;
}

.nowrap 
{
    white-space: nowrap;
}

.reveal ul {
    list-style-type: none;
}

.pesentation-details 
{
    position: absolute;
    left: 10px;
    bottom: 5px;
    color: gray;
    font-size: 0.8em;
}

.pesentation-details a 
{
    color: #51483D;
    text-decoration: none;
}

.pesentation-details a:hover 
{
    color: #8B7C69;
}

.key 
{
    position: relative;
    bottom: 5px;
    display: inline-block;
    font: 20px monospace !important;
    line-height: 30px;
    min-width: 30px;
    color: #000;
    padding: 3px !important;
    text-shadow: none;
    letter-spacing: 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
    vertical-align: sub !important;
    margin: 0px 7px !important;
}

.alert .reveal .state-background {
    background: rgba( 200, 50, 30, .7 );
}

mustache,
señorMustache
{
    display: block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    font-size: 2.5em;
    font-weight: bold;
}

señorMustache {
    margin-top: 100px;
    font-size: 5em;    
}

blockquote {
    margin-top: 40px !important;
    background-color: white !important;
}

ol {
    margin: 40px 0 0 130px !important;
    color: #494D4D;
}

small.mini {
    text-align: left;
    font-size: 12px;
    margin-top: 10px;
    width: 90%;
}

small.miniR {
    text-align: right;
    font-size: 12px;
    margin-top: 10px;
    width: 70%;
}

ul.model {
    margin-top: 30px;
}
ul.model li {
    margin-bottom: 30px;
    color: #494D4D
}

ul.model span
{
    padding: 5px !important;
    border-radius: 10px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
    
    margin: 7px;
    background-color: #51483D;
    color: white;
    width: 300px;
}

ul.model.jasmine span {
    background-color: #9CD175;
}

code.small {
    font-size: 14px;
    line-height: 16px;
    max-height: 500px;
}

.reveal .state-background {
    background-image: url('../images/pixel.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 454px 454px;
}

.jasmine .reveal .state-background {
    background-image: url('../images/jasmine_logo_bg.png');
    
    -webkit-transition: background-image 0.8s linear;
    -moz-transition: background-imaeg 0.8s linear;
    -o-transition: background-image 0.8s linear;
    transition: background-image 0.8s linear;
}

iframe.spec {
    
    height: 400px;
    width: 600px;
    border: 1px solid silver;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px; 
}